@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-outfit: "Outfit", sans-serif;

  --color-brand: #e06b88;
  --color-brand-light: #f4b8c7;
  --color-brand-dark: #c44d6b;

  --color-neutral-cream: #fcece9;
  --color-neutral-dark: #2d1b1e;

  --animate-float: float 4s ease-in-out infinite;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }
}

@layer base {
  body {
    @apply antialiased;
  }
}